@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 52px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 48px;
  line-height: 54px;
  color: #222;
}
.logo {
  width: 30%;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #0a0a0a91;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #10805a;
  background-color: #0f0f0f02;
}
#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}
#product1,
#product2 {
  text-align: center;
}
#product1 .pro,
#product2 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro-container,
#product2 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro:hover,
#product2 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img,
#product2 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des,
#product2 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span,
#product2 .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5,
#product2 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i,
#product2 .pro .des i {
  font-size: 12px;
  color: #f3b519;
}
#product1 .pro .des h4,
#product2 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
/*jab bhi position absolute use krty child main tu parent main positon relative zaroor lagaty*/
#product1 .pro .cart,
#product2 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter p span {
  color: #ffbd27;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.icon .fa-brands {
  margin: 3px;
  margin-top: 10px;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-right: 20px;
}
div img#footer-logo {
  width: 170px;
  margin-bottom: 18px;
}
footer h4 {
  font-size: 20px;
  padding-bottom: 15px;
}

footer p {
  font-size: 16px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 16px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
  color: #088178;
}
footer .copyright {
  width: 100%;
  text-align: center;
}

#pro_details {
  display: flex;
  margin-top: 20px;
}
#pro_details .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#pro_details .single-pro-details {
  width: 50%;
  padding-top: 30px;
}
#pro_details .single-pro-details h4 {
  padding: 40px 0 20px 0;
}
#pro_details .single-pro-details h2 {
  padding: 40px 0 20px 0;
  font-size: 26px;
}
#pro_details .single-pro-details select {
  display: block;
  padding: 5x 10px;
  margin-bottom: 10px;
}
#pro_details .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  padding-right: 10px;
}
#pro_details .single-pro-details input:focus {
  outline: none;
}
#pro_details .single-pro-details #BuyButton,
#pro_details .single-pro-details #CartButton,
#pro_details .single-pro-details #CheckoutButton,
#pro_details .single-pro-details #SubmitButton {
  background-color: #088178;
  text-decoration: none;
  color: #fff;
}
#pro_details .single-pro-details span {
  line-height: 25px;
}
.wrapper {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.master {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
}

.master label {
  font-size: 20px;
  margin-bottom: 20px;
}
.rating-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 10px;
}

.rating-component .status-msg {
  margin-bottom: 10px;
  text-align: center;
}

.rating-component .status-msg strong {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.rating-component .stars-box {
  -ms-flex-item-align: center;
  align-self: center;
  margin-bottom: 15px;
}

.rating-component .stars-box .star {
  color: #ccc;
  cursor: pointer;
}

.rating-component .stars-box .star.hover {
  color: #ff5a49;
}

.rating-component .stars-box .star.selected {
  color: #ff5a49;
}

.feedback-tags {
  min-height: 119px;
}

.feedback-tags .tags-container {
  display: none;
}

.feedback-tags .tags-container .question-tag {
  text-align: center;
  margin-bottom: 40px;
}

.feedback-tags .tags-box {
  display: -webkit-box;
  display: -ms-flexbox;
  text-align: center;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feedback-tags .tags-container .make-compliment {
  padding-bottom: 20px;
}

.feedback-tags .tags-container .make-compliment .compliment-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.feedback-tags
  .tags-container
  .make-compliment
  .compliment-container
  .fa-smile-wink {
  color: #ff5a49;
  cursor: pointer;
  font-size: 40px;
  margin-top: 15px;
  -webkit-animation-name: compliment;
  animation-name: compliment;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.feedback-tags
  .tags-container
  .make-compliment
  .compliment-container
  .list-of-compliment {
  display: none;
  margin-top: 15px;
}

.feedback-tags .tag {
  border: 1px solid #ff5a49;
  border-radius: 5px;
  color: #ff5a49;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
}

.feedback-tags .tag.choosed {
  background-color: #ff5a49;
  color: #fff;
}

.list-of-compliment ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.list-of-compliment ul li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 20px;
  min-width: 90px;
}

.list-of-compliment ul li:first-child {
  margin-left: 0;
}

.list-of-compliment ul li .icon-compliment {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #ff5a49;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 70px;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 0 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 70px;
}

.list-of-compliment ul li .icon-compliment i {
  color: #ff5a49;
  font-size: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.list-of-compliment ul li.actived .icon-compliment {
  background-color: #ff5a49;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.list-of-compliment ul li.actived .icon-compliment i {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-box .done {
  background-color: #ff5a49;
  border: 1px solid #ff5a49;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: none;
  min-width: 100px;
  padding: 10px;
}

.button-box .done:disabled,
.button-box .done[disabled] {
  border: 1px solid #ff9b95;
  background-color: #ff9b95;
  color: #fff;
  cursor: initial;
}

.submited-box {
  display: none;
  padding: 20px;
}

.submited-box .loader,
.submited-box .success-message {
  display: none;
}

.submited-box .loader {
  border: 5px solid transparent;
  border-top: 5px solid #4dc7b7;
  border-bottom: 5px solid #ff5a49;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}
.line1,
.line2 {
  flex: 0 0 50%; /* Two labels per line */
  padding: 10px; /* Add spacing */
}
.labelcontainer {
  display: flex;
  flex-wrap: wrap;
}

.labelcontainer label {
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px; /* Optional: Adjust the margin between labels */
}

.labelcontainer .line1,
.labelcontainer .line2 {
  flex-basis: 50%; /* Set each label to take up 50% of the container width */
}

.labelcontainer .value {
  font-weight: bold; /* Optional: Apply bold style to the value labels */
}

.normal1,
.normal2 {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
.normal1,
.normal2 {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 15px; /* Adjusted padding to make the buttons half of their current width */
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  display: inline-block; /* Make the buttons inline-block to appear in the same line */
}

.normal1 {
  margin-right: 10px; /* Optional: Add some margin between the buttons */
}
em {
  display: block;
  margin: 0.5em auto 2em;
  color: #bbb;
}

p,
p a {
  color: #aaa;
  text-decoration: none;
}
p a:hover,
p a:focus {
  text-decoration: underline;
}
p + p {
  color: #bbb;
  margin-top: 2em;
}
.detail {
  position: absolute;
  text-align: right;
  right: 5px;
  bottom: 5px;
  width: 50%;
}

a[href*="intent"] {
  display: inline-block;
  margin-top: 0.4em;
}
.options select {
  width: 20%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.options input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

/*  
 * Rating styles
 */
.rating {
  width: 226px;
  margin: 0;
  font-size: 30px;
  overflow: hidden;
  text-align: left;
}
.rating input {
  float: right;
  opacity: 0;
  position: absolute;
}
.rating a,
.rating label {
  float: right;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {
  color: #088178;
  cursor: pointer;
}
.rating2 {
  direction: rtl;
}
.rating2 a {
  float: none;
}
